<style>body{background-color:#fff;}</style>

<div class="container">
    <div id="privacycontainer" >
    <h2> Privacy Policy </h2>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices eros eget fringilla bibendum. Integer venenatis arcu fermentum lectus mollis ultrices. Vestibulum odio diam, vestibulum vehicula sem ultrices, auctor dignissim libero. In leo libero, consequat vel lorem sit amet, egestas laoreet elit. Pellentesque neque tortor, dapibus at ex nec, facilisis dictum massa. Phasellus et porta risus, non aliquet sapien. Pellentesque ut lobortis urna. Vivamus consequat fermentum nulla, vel porta enim blandit fringilla. Vestibulum pharetra feugiat elit, ac vestibulum augue ullamcorper in. Donec posuere magna eu nisi auctor, id faucibus nunc luctus. Nunc leo eros, varius at purus in, aliquet mollis diam. Mauris malesuada quam dui, a consectetur lacus pellentesque in. Donec sed posuere lorem, a pretium leo. Aliquam quis augue dapibus, porta lacus sed, gravida est. Nullam fermentum magna id pretium tincidunt. Donec tempor lacus ut tincidunt iaculis.

    Nullam ullamcorper volutpat felis eget suscipit. Aliquam erat volutpat. Sed vehicula, orci sed sollicitudin vehicula, sapien quam fringilla dui, non rhoncus diam elit ac tellus. Nulla scelerisque augue velit, rhoncus lobortis mi elementum id. Donec aliquam dui placerat nunc bibendum, non egestas justo accumsan. Aliquam erat erat, vehicula ut nisi sit amet, pharetra vestibulum orci. Ut non scelerisque arcu, in pharetra elit.

    Duis viverra cursus tincidunt. Quisque vitae libero eu purus dictum semper vel non magna. Pellentesque at magna fringilla, suscipit felis et, iaculis est. Curabitur sed tortor eros. Morbi rhoncus, erat a placerat semper, lectus lacus pulvinar enim, quis euismod augue tortor eget metus. Curabitur fringilla fringilla leo, ut posuere quam tristique non. Mauris id consequat mi, id sagittis augue. Curabitur id fermentum est. In hac habitasse platea dictumst. Mauris a dolor sem. Sed tincidunt pulvinar ipsum a varius. In condimentum, dolor at viverra mollis, mi diam interdum nunc, eu consectetur enim massa eget diam. Quisque vel rhoncus leo. Nulla sed nulla ante.
    
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-class="{disabled : !disabled}" ng-model="checked"> By clicking this checkbox, you agree to the privacy policy.
        </label>
    </div>
    <button class="btn btn-primary"  ng-disabled="!checked" ng-click="goToOnboard()"> Next </button>
</div>