@import "../_bootstrap.scss";
@import '../_colors.scss';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i';

html, body {
    margin:0;
    height:100%;
    background-color: $background_gray;
    font-family: 'Open Sans', sans-serif;
    .onboard_known {
        input {
            width: 260px;
            box-shadow: none;
            -webkit-box-shadow: none;
            margin-left:auto;
            margin-right:auto;
        }
        .btn {
            display:block;
        }
    }

}

